<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
    <!-- Always required -->
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <!-- Only required for desktop -->
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
</head>

<div ng-controller="exerciseController as exerciseController">
<!--<div class="scrollable" ng-controller="mainController as mainController">-->
        <!--<div class="scrollable-content section" ui-scroll-bottom="loadMore()">-->
    <h3>video</h3>

    <!--<div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center">
            Navbar Brand
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                Left Action
            </div>
        </div>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                Right Action
            </div>
        </div>
    </div>-->


   <!--<video controls>
        <source src="http://192.168.1.15:4001/api/video/2017-12-08 03:04:44.000" type="video/mp4">
    </video>-->

            <ul>
               <li ng-repeat="item in exerciseController.videosURL">
                   <video class="videoClass" src="{{item}}"controls type="video/mp4">
                    </video>
                </li>
            </ul>
            fdgshsgfhsfghjdgh
    <form id="uploadForm"
          enctype="multipart/form-data"
          action="http://192.168.1.15:4001/api/photo"
          method="post">
        <input type="file" name="userPhoto" />
        <input type="submit" value="העלה תמונה" name="submit">
        <span id = "status"></span>
    </form>
    <!--<span class="lClass">video url: </span>
    <span class="bClass">{{mainController.videoURL}}</span>-->
    <video class="videoClass" src="{{exerciseController.videoURL | trustUrl }}"controls type="video/mp4">
    </video>
    <button ng-click="programsController.changeVideo()">switchVideo</button>
        </div>
</div>
</div>
<!--</div>-->




