<!--<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
</head>-->

<div ng-controller="mainController as mainController">
<!--<div class="scrollable" ng-controller="mainController as mainController">-->
        <!--<div class="scrollable-content section" ui-scroll-bottom="loadMore()">-->
    <h3 align="right" ng-hide="mainController.authService.loggedIn" class="rtlH3" >שלום אורח </h3>
   <h3 ng-show="mainController.authService.loggedIn" class="rtlH3" align="right">     {{mainController.authService.userId}}  שלום </h3>

    <!--<div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center">
            Navbar Brand
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                Left Action
            </div>
        </div>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                Right Action
            </div>
        </div>
    </div>-->


   <!--<video controls>
        <source src="http://192.168.1.15:4001/api/video/2017-12-08 03:04:44.000" type="video/mp4">
    </video>-->

  <!--          <ul>
               <li ng-repeat="item in mainController.videosURL">
                   <video class="videoClass" src="{{item}}"controls type="video/mp4">
                    </video>
                </li>
            </ul>
            fdgshsgfhsfghjdgh
    <form id="uploadForm"
          enctype="multipart/form-data"
          action="http://192.168.1.15:4001/api/photo"
          method="post">
        <input type="file" name="userPhoto" />
        <input type="submit" value="העלה תמונה" name="submit">
        <span id = "status"></span>
    </form>
    <!--<span class="lClass">video url: </span>
    <span class="bClass">{{mainController.videoURL}}</span>-->
    <!--<video class="videoClass" src="{{mainController.videoURL | trustUrl }}"controls type="video/mp4">
    </video>
    <button ng-click="mainController.changeVideo()">switchVideo</button>

-->



    <!--<h2 class="labelClass"> Best Sellers</h2>

    <div class="box-table" width="500"  >
    <table>
        <tr ng-repeat="popcar in mainController.popCars">
            <td>{{popcar.CarSeriesID}}</td>
            <td><button ng-click="open(popcar.CarSeriesID)">Show Details</button> </td>
           <!-- <td><button ng-show="mainController.userService.isLoggedIn" ng-click="mainController.addToCart(popcar.CarSeriesID)"><img src="pics/add-to-cart-dark.png" /></button> </td>-->


            <!--<td><button ng-click="mainController.addToCart(popcar.CarSeriesID)" ng-hide="mainController.userService.notLoggedIn"><img src="pics/add-to-cart-dark.png" /></button> </td>-->
           <!-- <td><button ng-click="mainController.buyCar(popcar.CarSeriesID)">Buy</button> </td>-->


            <!--<td><button ng-click="storeCtrl.removeCart(product)">Remove Cart</button> </td>-->
      <!--  </tr>
    </table>-->
        </div>
</div>

    <!--<div modal="showModal" close="cancel()">
        <div class="modal-header">
            <h4>Car's Details</h4>
        </div>
        <div class="modal-body">
            <div>

                <table>
                    <thead>
                    <tr>
        <th>Category</th>
        <th>Menufacturer</th>
        <th>Year</th>
        <th>Color</th>
        <th>Price</th>
        <th>NumInStock</th>
    </tr>
    </thead>
    <tr ng-repeat="car in mainController.carDetails">
        <td>{{car.Category}}</td>
        <td>{{car.Manufacturer}}</td>
        <td>{{car.Year}}</td>
        <td>{{car.Color}}</td>
        <td>{{car.PriceNIS|currency: "NIS"}}</td>
        <td>{{car.NumInStock}}</td>

        <!--<td><button ng-click="storeCtrl.removeCart(product)">Remove Cart</button> </td>-->
   <!-- </tr>
    </table>
</div>
        </div>
    </div>

<!--<div ng-show="mainCtrl.userService.isLoggedIn">-->


    <!--<div class="box-table" ng-hide="mainController.userService.notLoggedIn" width="500" >
        <h2 class="labelClass"> new cars</h2>
        <table>
            <tr ng-repeat="newCar in mainController.newCars">
                <td>{{newCar.CarSeriesID}}</td>
               <!--<td><button ng-click="mainController.getCarDetails(newCar.CarSeriesID)">Show Details</button> </td>-->
             <!-- <td><button ng-click="open(newCar.CarSeriesID)">Show Details</button> </td>
                <td><button ng-click="mainController.addToCart(newCar.CarSeriesID)"><img src="pics/add-to-cart-dark.png" /></button> </td>
                <!-- <td><button ng-click="mainController.buyCar(popcar.CarSeriesID)">Buy</button> </td>-->


                <!--<td><button ng-click="storeCtrl.removeCart(product)">Remove Cart</button> </td>-->
           <!-- </tr>
        </table>
    </div>


        <div modal="showModal" close="cancel()">
            <div class="modal-header">
                <h4>Car's Details</h4>
            </div>
            <div class="modal-body">
                <div>

                    <table>
                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Menufacturer</th>
                            <th>Year</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>NumInStock</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="car in mainController.carDetails">
                            <td>{{car.Category}}</td>
                            <td>{{car.Manufacturer}}</td>
                            <td>{{car.Year}}</td>
                            <td>{{car.Color}}</td>
                            <td>{{car.PriceNIS|currency: "NIS"}}</td>
                            <td>{{car.NumInStock}}</td>
                        </tr>
                    </table>

                </div>
            </div>
            </div>
        </div>
    <!--<div class="box-table" width="500">

        <table>
            <thead>
            <tr>
                <th>Category</th>
                <th>Menufacturer</th>
                <th>Year</th>
                <th>Color</th>
                <th>Price</th>
                <th>NumInStock</th>
            </tr>
            </thead>
            <tr ng-repeat="car in mainController.carDetails">
                <td>{{car.Category}}</td>
                <td>{{car.Manufacturer}}</td>
                <td>{{car.Year}}</td>
                <td>{{car.Color}}</td>
                <td>{{car.PriceNIS|currency: "NIS"}}</td>
                <td>{{car.NumInStock}}</td>
            </tr>
        </table>

    </div>-->
</div>
<!--</div>-->




