<div ui-content-for="title">
    <span>Forms</span>
</div>

<div class="scrollable" ng-controller="newProgController as newProgController">
    <div class="scrollable-content section">
      <form role="form" ng-hide="newProgController.clickedAdd || newProgController.videoClick">
         <fieldset>
             <legend ng-hide="newProgController.clickedCreate">יצירת תכנית אימון</legend>
             <div ng-hide="newProgController.clickedCreate" class="form-group has-success has-feedback" >
                 <label>שם תכנית אימון</label>
                 <input type="text" required
                        ng-model="newProgController.ProgName"
                        class="form-control"
                        placeholder="הכנס שם תכנית אימון">
             </div>
             <legend ng-show="newProgController.clickedCreate">{{newProgController.ProgName}} </legend>
             <button class="btn btn-primary btn-block" ng-show="newProgController.clickedCreate" ng-click="newProgController.AddExe()">הוסף תרגיל </button>

             <button class="btn btn-primary btn-block" ng-hide="newProgController.clickedCreate" type="submit" ng-click="newProgController.createProg()">צור תכנית אימון

             </button>
         </fieldset>
         <hr>


                  <div ui-content-for="navbarAction">
                    </div>


        </form>
        <form role="form" ng-show="newProgController.clickedAdd" name="newProgController.upload_form">
            <fieldset>
                <legend ng-show="newProgController.clickedCreate">{{newProgController.ProgName}} </legend>
                <button class="btn btn-primary btn-block" ng-show="newProgController.clickedCreate && newProgController.submitExeClicked" ng-click="newProgController.AddMoreExe()">הוסף תרגיל נוסף</button>
                <!--  <a class="list-group-item" href="#/patients">המטופלים שלי <i class="fa fa-chevron-right pull-right"></i></a>-->
                <a  href="#/" class="btn btn-primary btn-block" ng-show="newProgController.clickedCreate && newProgController.submitExeClicked" >סיים </a>
                <div  ng-show= "!newProgController.submitExeClicked">
                <!--<legend>{{newProgController.ProgName}}</legend>-->
               <legend>הוספת תרגיל</legend>
                <div class="form-group has-success has-feedback">
                    <label>שם תרגיל</label>
                    <input type="text"
                           ng-model="newProgController.exeTitle"
                           class="form-control"
                           placeholder="הכנס שם לתרגיל" required>

                </div>
                <div class="form-group">
                    <label>תרגיל מבוסס זמן</label>
                    <ui-switch
                            ng-model="newProgController.onTime"></ui-switch>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>מספר פעמים בשבוע</label>
                    <input type="number"  min="1"
                           ng-model="newProgController.timeInWeek"
                           class="form-control"
                           placeholder="1" required>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>מספר סטים</label>
                    <input type="number"  min="1"
                           ng-model="newProgController.nSets"
                           class="form-control"
                           placeholder="1" required>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>מספר חזרות בסט</label>
                    <input type="number"  min="1"
                           ng-model="newProgController.nRepeats"
                           class="form-control"
                           placeholder="1">
                </div>
                <div class="form-group has-success has-feedback">
                    <label>משך זמן סט</label>
                    <span><input type="number"  min="1"
                           ng-model="newProgController.setDuration"
                           class="form-control"
                           placeholder="1">
                     <label>שניות</label> </span>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>משך הפסקה בין סטים</label>
                    <input type="number"  min="1"
                           ng-model="newProgController.break"
                           class="form-control"
                           placeholder="1" required>
                </div>

                <div class="form-group has-success has-feedback">
                   <!-- <label>הוראות נוספות</label>
                    <input type="text"
                           ng-model="newProgController.desc"
                           class="form-control"
                           >-->
                    <label>הוראות נוספות</label>
                    <textarea name="desc" ng-model="newProgController.desc" cols="40" rows="5"></textarea>
                </div>

                <div class="form-group has-success has-feedback">
                <input
                        type="file"
                        ngf-select
                        ng-model="newProgController.file"
                        name="file"
                        ngf-max-size="20MB"
                />
                    <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                    <i ng-show="up.upload_form.file.$error.maxSize">File too large
                        {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                    <button  class="btn btn-primary btn-block" type="submit" ng-click="newProgController.submit()">הוסף את התרגיל</button>

                </div>
                </div>
                <!--<div class="form-group has-success has-feedback">
                    <label>וידאו</label>
                    <input type="file" name="userPhoto" input file="file" class="form-control" ng-model="userPhoto"/>
                </div>-->

               <!-- <form id="uploadForm"
                      enctype="multipart/form-data"
                      acost">tion="http://10.100.102.13:4000/api/photo"
                      method="p
                    <input type="file" name="userPhoto"  ng-model="video"/>

                   <input type="submit" value="העלה וידאו" name="submit">
                    <span id = "status"></span>
                </form>-->
            <!--<input type="file" file ="file" name="userPhoto" />-->

       <!-- <input type="file" file-model="myFile"/><br><br>
        <button ng-click="uploadFile()">Upload</button>
               <!--<input type="submit" value="העלה וידאו" name="submit">-->
             <!--  <span id = "status"></span>-->
            </fieldset>
            <hr>

           <!-- <button class="btn btn-secondary btn-block">
             </button>      הוסף וידאו       -->
          <!--  <button class="btn primary btn-block">
                הוסף תרגיל לתכנית האימון
            </button>
            <div ui-content-for="navbarAction">
            </div>-->
         <!--   <button class="btn btn-primary btn-block">
                הוסף וידאו

            </button>
            <div ui-content-for="navbarAction">

            </div>-->
            <!--<button class="btn btn-primary btn-block">
                צור תכנית אימון
            </button>-->

        </form>
       <!-- <form id="uploadForm" ng-show = "newProgController.videoClick"
              enctype="multipart/form-data"
              action="http://10.100.102.13:4000/api/photo"
              method="post">
            <input type="file" name="userPhoto" />
            <input type="submit" value="העלה וידאו" name="submit" onclick="testFunc()">
            <span id = "status"></span>
        </form>-->

    </div>
</div>

