<div ui-content-for="title">
    <span>הוספת סרטון לבנק הסרטונים</span>
</div>

<div class="scrollable" ng-controller="bankController as bankController">
    <div class="scrollable-content paddClass">
      <form role="form" name="bankController.upload_form">
         <fieldset>
             <div  class="form-group has-success has-feedback" >
                 <label>תיאור הסרטון</label>
                 <input type="text" required
                        ng-model="bankController.title"
                        class="form-control"
                        placeholder="הכנס שם לסרטון">
             </div>
             <div  class="form-group has-success has-feedback" >
             <label >תגיות</label>
             <div class="panel panel-default" ng-repeat="item in bankController.tags">
                 <div class="panel-heading" ui-set="{'myAccordion': item}">
                     <h4 class="panel-title">
                         {{item}}
                     </h4>
                 </div>
             </div>
             </div>
             <div  class="form-group has-success has-feedback" >
                 <label>הוספת תגית חדשה</label>
                 <span><input type="text"
                        ng-model="bankController.currTag"
                        class="form-control"
                        >
                     <button class="btn btn-warning" ng-click="bankController.addTagNew()">הוסף תגית</button></span>

             </div>
             <div class="form-group has-success has-feedback">
                 <input
                         type="file"
                         ngf-select
                         ng-model="bankController.file"
                         name="file"
                         ngf-max-size="20MB"
                 />
                 <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                 <i ng-show="up.upload_form.file.$error.maxSize">File too large
                     {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                 <i>{{bankController.progress}}</i><br>
                 <button class="btn btn-primary btn-block" ng-disabled="bankController.upload_form.$invalid"  type="submit" ng-click="bankController.submit()">העלה את הסרטון</button>

             </div>
         </fieldset>
         <hr>


                  <div ui-content-for="navbarAction">
                    </div>


        </form>

    </div>
</div>

