<!--<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="/angularScripts/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
</head>-->

<!--<div class="scrollable" ng-controller="mainController as mainController">-->
        <!--<div class="scrollable-content section" ui-scroll-bottom="loadMore()">-->
    <div ui-content-for="title">
        <span>תכניות האימון שלך</span>
    </div>

    <div class="scrollable" ng-controller="exerciseController as exerciseController">
        <div class="scrollable-content">
          <!--  <div class="section">-->
                <div class="panel-group"
                     ui-shared-state="myAccordion"
                     ui-default='1'>

                    <div class="panel panel-default" ng-repeat="item in exerciseController.exercises">
                        <div class="panel-heading" ui-set="{'myAccordion': item}">
                            <h4 class="panel-title">
                                {{item.title}}
                            </h4>
                        </div>
                        <div class="panel-body"> <!--ng-show =exerciseController.chosenExe[item.exe_id]-->
                                <!--<button class="ProgramDetBtn" ng-click="programsController.getExercises(item.prog_id)">פרטי תכנית</button>-->
                                <a href="#/exercises"><button class="ProgramDetBtn" ng-click="exerciseController.clickDet(item.exe_id)">פרטי תרגיל</button></a>
                        <div ng-show = exerciseController.chosenExe[item.exe_id] >
                            <br>
                        <label>מספר פעמים בשבוע: </label>
                            <span>{{item.time_in_week}}</span>
                            <br>
                            <label>מספר סטים: </label>
                            <span>{{item.num_sets}}</span>
                            <br>
                            <div ng-hide="item.onTime">
                            <label>מספר חזרות: </label>
                            <span>{{item.num_repeats}}</span>
                            <br>
                            </div>
                            <div ng-show="item.onTime">
                            <label>משך סט: </label>
                            <span>{{item.set_duration}}</span>
                                <span>{{item.set_duration_units}}</span>
                                <br>
                        </div>
                            <label> זמן הפסקה בין סטים: </label>
                            <span>{{item.break_between_sets}}</span>
                            <span>{{item.break_between_sets_units}}</span>
                            <br>
                            <label> הוראות נוספות: </label>
                            <span>{{item.description}}</span>
                            <br>
                            <video class="videoClass" ng-show="exerciseController.videosURL[item.exe_id]" src= {{exerciseController.videosURL[item.exe_id]}} controls type="video/mp4">
                            </video>
                            <button  ng-click="exerciseController.clickFeedback(item)" class="btn btn-primary btn-block">דווח על ביצוע </button>
                            <button class="btn btn-primary btn-block">שלח הודעה לפיזיותרפיסט </button>
                        </div>
                            </div>
                        <!--<div class="panel-body">
                            {{item.prog_id}}מספר תכנית
                            <br>
                            <!--<button class="ProgramDetBtn" ng-click="programsController.getExercises(item.prog_id)">פרטי תכנית</button>-->
                            <!--<a href="#/exercises"><button class="ProgramDetBtn" ng-click="programsController.clickProg(item.prog_id)">פרטי תכנית</button></a>-->
                        <!--</div>-->

                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

