
<div ui-content-for="title">
    <span>תיבת דואר</span>
</div>

<div class="scrollable" ng-controller="messagesController as messagesController">
    <div class="scrollable-content paddClass" >
        <button class="btn btn-primary btn-block" ng-click="messagesController.sendNewnewMsgClick()">שלח הודעה חדשה לפיזיותרפיסט</button>
        <div class="form-group has-success has-feedback" align="center" ng-show="messagesController.isNewewClicked">
            <label>נושא</label>
            <textarea name="desc" ng-model="messagesController.msgTitle" cols="30" rows="1"></textarea>
            <!-- <div class="panel panel-default" >-->
            <br>
            <br>
            <label>תוכן</label>
            <textarea name="desc" ng-model="messagesController.newMsg" cols="30" rows="5"></textarea>
            <br>
            <br>
            <button class="btn btn-warning" ng-click = messagesController.sendNewnewMsg()>שלח</button>
            <!--</div>-->
        </div>
        <!--<div class="section">-->
            <div class="panel-group paddClass"
                 ui-shared-state="myAccordion"
                 ui-default='1'>
                <div class="panel panel-default" ng-repeat="cor in messagesController.correspondences">
                    <div class="panel-heading" ui-set="{'myAccordion': patient}">
                        <h4 class="panel-title">
                            {{cor[0].title}}
                        </h4>
                    </div>
                    <div class="panel-body">
                    <button ng-click="messagesController.reply(cor[0])">השב</button>

                        <button ng-click="messagesController.more(cor[0].correspondence_id)">הודעות קודמות</button>

                    </div>
                    <div class="panel-body">
                        {{cor[0].date|date :  "dd.MM.y HH:mm" }}<br>
                        {{cor[0].msg_content}}
                    </div>

                    <div class="form-group has-success has-feedback" align="center" ng-show="messagesController.rep[cor[0].correspondence_id]">

                        <!-- <div class="panel panel-default" >-->
                            <textarea name="desc" ng-model="messagesController.repMsg" cols="30" rows="5"></textarea>
                        <br>
                        <br>
                        <button ng-click="messagesController.sendRep(cor[0])">שלח</button>
                        <!--</div>-->
                    </div>
                    <div class="panel-group paddClass" ng-show="messagesController.moreMsgInCor[cor[0].correspondence_id]"
                         ui-shared-state="myAccordion2"
                         ui-default='1'>
                        <div class="panel panel-default" ng-repeat="msg in cor">
                            <div ng-show = "messagesController.notFirst(msg,cor)">
                            <div class="panel-heading" ui-set="{'myAccordion2': patient}">
                                {{msg.date | date :  "dd.MM.y HH:mm"}}
                            </div>
                            <div class="panel-body">
                                <label>מאת</label>
                                {{msg.from_first_name}}
                                {{msg.from_last_name}}
                                <label>אל</label>
                                {{msg.to_first_name}}
                                {{msg.to_last_name}}
                            </div>
                            <div class="panel-body">
                              {{msg.msg_content}}
                            </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
</div>
</div>
<!--</div>-->




