<div ui-content-for="title">
    <span>יצירת תכנית אימון</span>
</div>

<div class="scrollable" ng-controller="newProgController as newProgController">
    <div class="scrollable-content paddClass">
      <form role="form" ng-hide="newProgController.clickedAdd || newProgController.videoClick">
         <fieldset>
             <legend align="right"  ng-hide="newProgController.clickedCreate">יצירת תכנית אימון</legend>
             <div ng-hide="newProgController.clickedCreate" class="form-group has-success has-feedback" >
                 <label>שם תכנית אימון</label>
                 <input type="text" required
                        ng-model="newProgController.ProgName"
                        class="form-control"
                        placeholder="הכנס שם תכנית אימון">
             </div>
             <legend align="right" ng-show="newProgController.clickedCreate">{{newProgController.ProgName}} </legend>
             <button class="btn btn-primary btn-block" ng-show="newProgController.clickedCreate" ng-click="newProgController.AddExe()">הוסף תרגיל </button>

             <button class="btn btn-primary btn-block" ng-hide="newProgController.clickedCreate" type="submit" ng-click="newProgController.createProg()">צור תכנית אימון

             </button>
         </fieldset>
         <hr>


                  <div ui-content-for="navbarAction">
                    </div>


        </form>
        <form role="form" ng-show="newProgController.clickedAdd" name="newProgController.upload_form">
            <fieldset>
                <legend ng-show="newProgController.clickedCreate">{{newProgController.ProgName}} </legend>
                <button class="btn btn-primary btn-block" ng-show="newProgController.clickedCreate && newProgController.submitExeClicked && newProgController.finishLoad" ng-click="newProgController.AddMoreExe()">הוסף תרגיל נוסף</button>
                <!--  <a class="list-group-item" href="#/patients">המטופלים שלי <i class="fa fa-chevron-right pull-right"></i></a>-->
                <a ng-click="newProgController.finish()" href="#/" class="btn btn-primary btn-block" ng-show="newProgController.clickedCreate && newProgController.submitExeClicked && newProgController.finishLoad" >סיים </a>
               <!-- <div  ng-show= "!newProgController.submitExeClicked || (newProgController.videoClick && !self.finishLoad)">-->
                <div ng-hide="newProgController.clickedCreate && newProgController.submitExeClicked && newProgController.finishLoad">
                <!--<legend>{{newProgController.ProgName}}</legend>-->
               <legend  align="right" >הוספת תרגיל </legend>
                <div class="form-group has-success has-feedback">
                    <label>שם תרגיל</label>
                    <input type="text"
                           ng-model="newProgController.exeTitle"
                           class="form-control"
                           placeholder="הכנס שם לתרגיל" required>

                </div>
                <div class="form-group">
                    <label>תרגיל מבוסס זמן</label>
                    <ui-switch
                            ng-model="newProgController.onTime"></ui-switch>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>מספר פעמים בשבוע</label>
                    <select name="repeatSelectWeek" id="repeatSelectWeek" ng-model="newProgController.timeInWeek">
                        <option value="כל יום">כל יום </option>
                        <option value="יום כן יום לא">יום כן יום לא</option>
                    </select>
                </div>

                    <div class="form-group has-success has-feedback">
                        <label>מספר תרגולים ביום</label>
                        <input type="number"  min="1"
                               ng-model="newProgController.timeInDay"
                               class="form-control"
                               required>
                    </div>
                <div class="form-group has-success has-feedback">
                    <label> מספר סטים בתרגול</label>
                    <select name="repeatSelectSets" id="repeatSelectSets" ng-model="newProgController.nSets">
                        <option ng-repeat="num in newProgController.nSetsRange">{{num}}</option>
                    </select>
                </div>
                <div class="form-group has-success has-feedback" ng-hide ="newProgController.onTime">
                    <label>מספר חזרות בסט</label>
                    <input type="number"  min="1"
                           ng-model="newProgController.nRepeats"
                           class="form-control"
                            >
                </div>
                <div class="form-group has-success has-feedback" ng-show="newProgController.onTime">
                    <label>משך זמן סט</label>
                    <span><input type="number"  min="1"
                           ng-model="newProgController.setDuration"
                           class="form-control"
                           >
                      <select name="repeatSelectUnit" id="repeatSelectUnit" ng-model="newProgController.setDurationUnits">
                        <option value="שניות">שניות </option>
                        <option value="דקות">דקות</option>

                    </select>
                    </span>
                </div>
                <div class="form-group has-success has-feedback">
                    <label>משך הפסקה בין סטים</label>
                    <input type="number"  min="1"
                           ng-model="newProgController.break"
                           class="form-control"
                           required>
                   <!-- <label>שניות</label>-->
                    <select name="repeatSelectUnit" id="repeatSelectInit" ng-model="newProgController.breakUnits">
                        <option value="שניות">שניות </option>
                        <option value="דקות">דקות</option>
                        <option value="שעות">שעות</option>
                    </select>
                    </span>
                </div>

                <div class="form-group has-success has-feedback">

                    <label>הוראות נוספות</label>
                    <textarea name="desc" ng-model="newProgController.desc" cols="30" rows="5"></textarea>
                </div>
                    <div class="form-group has-success has-feedback">
                        <label>סרטון:</label>
                        <label class="radioBTN">
                            <input   type="radio" ng-model="newProgController.videoSource" value="none">
                            ללא סרטון
                        </label><br/>
                    <label class="radioBTN">
                        <input  type="radio" ng-model="newProgController.videoSource" value="new">
                        סרטון חדש
                    </label><br/>
                    <label class="radioBTN">
                        <input   type="radio" ng-model="newProgController.videoSource" value="bank">
                        סרטון מהבנק
                    </label><br/><br/>
                        <label ng-show="newProgController.videoSource == 'bank' && newProgController.bankVideoChosen">סרטון נבחר: </label>
                        <label ng-show="newProgController.videoSource == 'bank' && newProgController.bankVideoChosen" >{{newProgController.chosenTitle}}</label>

                    </div>
                <div class="form-group has-success has-feedback" ng-show="newProgController.videoSource == 'new'">
                    <input
                        type="file"
                        ngf-select
                        ng-model="newProgController.file"
                        name="file"
                        ngf-max-size="20MB"
                />
                    <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                    <i ng-show="newProgController.upload_form.file.
                    $error.maxSize">הקובץ גדול מדי(מקסימום 20M)
                      </i>
                    <i>{{newProgController.progress}}</i><br>
                    <input type="text"
                           ng-model="newProgController.videoName"
                           class="form-control"
                           placeholder="הכנס שם לסרטון">
                    <br>
                    <label>תגיות:</label>
                    <select name="multipleSelect" id="multipleSelect" ng-options="option.tag for option in newProgController.tags track by option.tag"
                            ng-model="newProgController.selectedTags" multiple>
                    </select><br>
                </div>
                   <!-- <div class="form-group has-success has-feedback">
                        <label>בחר וידאו מבנק תרגילים</label>
                        <button  ng-click="newProgController.showBank()">בנק תרגילים</button>
                    </div>-->
                </div>

                    <div class="scrollable-content form-group has-success has-feedback" ng-show="newProgController.videoSource == 'bank' && !newProgController.bankVideoChosen">
                        <!--  <div class="section">-->
                        <label>סינון לפי תגיות:</label>
                        <select name="selectedTagsBnank" id="multipleSelectBank" ng-options="option for option in newProgController.tagsNames track by option"
                                ng-model="newProgController.selectedTagsBnank" multiple>
                        </select><br>
<button ng-click="newProgController.getBank()">חפש</button>

                        <div align="right">
                        <input type="text" ng-model="newProgController.filterBy">
                            <label>:סינון</label>

                        </div>
                        <div class="panel-group"
                             ui-shared-state="myAccordion"
                             ui-default='1'>
                            <div class="panel panel-default" ng-repeat="item in newProgController.bankVideos | filter : newProgController.filterBy">
                                                            <div class="panel-heading" ui-set="{'myAccordion': item}">
                                                                <h4 class="panel-title">
                                                                {{item.title}}
                                                            </h4>
                                                            </div>
                                                            <div class="panel-body">
                                                                <!--<div align="right">
                                                                    <h5>תגיות:</h5>
                                                                <label ng-show="newProgController.showTag(item.tag0)">{{item.tag0}}</label><br>
                                                                <label ng-show="newProgController.showTag(item.tag1)">{{item.tag1}}</label><br>
                                                                <label ng-show="newProgController.showTag(item.tag2)">{{item.tag2}}</label>
                                                                </div>-->
                                                                    <br>
                                                                    <video class="videoClass" ng-show="newProgController.videosURL[item.title]" src= {{newProgController.videosURL[item.title]}} controls type="video/mp4">
                                                                    </video>
                                                                    <button class="btn btn-primary btn-block" ng-click="newProgController.chooseVideo(item.title)">בחר </button>
                                                                </div>
                                                            </div>
                            <!--<div class="panel panel-default" ng-repeat="item in newProgController.bankVideos | filter : newProgController.filterBy">
                                <div class="panel-heading" ui-set="{'myAccordion': item}">
                                    <h4 class="panel-title">
                                    {{item.title}}
                                </h4>
                                </div>
                                <div class="panel-body">
                                    <div align="right">
                                        <h5>תגיות:</h5>
                                    <label ng-show="newProgController.showTag(item.tag0)">{{item.tag0}}</label><br>
                                    <label ng-show="newProgController.showTag(item.tag1)">{{item.tag1}}</label><br>
                                    <label ng-show="newProgController.showTag(item.tag2)">{{item.tag2}}</label>
                                    </div>
                                        <br>
                                        <video class="videoClass" ng-show="newProgController.videosURL[item.title]" src= {{newProgController.videosURL[item.title]}} controls type="video/mp4">
                                        </video>
                                        <button class="btn btn-primary btn-block" ng-click="newProgController.chooseVideo(item.title)">בחר </button>
                                    </div>
                                </div>-->

                            </div>
                        </div>


                <button class="btn btn-primary btn-block"  ng-hide="newProgController.clickedCreate && newProgController.submitExeClicked && newProgController.finishLoad" ng-disabled="newProgController.upload_form.$invalid"  type="submit" ng-click="newProgController.submit()">הוסף את התרגיל</button>

            </fieldset>
            <hr>
        </form>

    </div>
</div>

