
<div ui-content-for="title">
    <span>המטופלים שלך</span>
</div>

<div class="scrollable" ng-controller="patientsController as patientsController" ng-show="patientsController.authService.isPhysio">
    <div class="scrollable-content">
        <img ng-if="patientsController.dataLoading" margin="auto" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <!--<div class="section">-->
        <button  ng-click="patientsController.refresh()"><img src="../pics/Refresh_icon.svg.png" width="10%" height="1%"/>רענן</button>

        <div class="panel-group paddClass"
                 ui-shared-state="myAccordion"
                 ui-default='1'>
                <div align="right">
                    <input type="text" ng-model="patientsController.filterBy" ng-pattern="patientsController.regexService.getNotInjection()">
                    <label>:סינון</label>

                </div>

                <div  class="panel panel-default" ng-repeat="patient in patientsController.patients | filter : patientsController.filterBy">
                    <div class="panel-heading" ui-set="{'myAccordion': patient}">
                        <h4 class="panel-title" align="center">
                            <img ng-src="{{patientsController.pics[patient.username]}}" width="30%" height="30%"/>

                            {{patient.first_name}}
                            {{patient.last_name}}

                        </h4>
                    </div>
                        <div class="panel-body">
                            <br>
                            <button class="ProgramDetBtnPat" ng-click="patientsController.clickUser(patient.username)">פרטי מטופל<img src="../pics/person-icon-user-person-man-icon-4.png" width="10%" height="5%"/></button>
                        <br>
                            <div class="panel panel-body" ng-show="patientsController.isEven(patient)&&patientsController.clickedPatDet">
                                <label>פרטי מטופל:</label>

                                <div class="panel-body">
                                    <label>גיל:</label>
                                    {{patient.age}}
                                    <br>
                                    <br>
                                    <label>אבחנה:</label>
                                    {{patient.diagnosis}}

                                </div>

                            </div>
                            <button class="ProgramDetBtnPat" ng-click="patientsController.createProgram(patient.username)">צור תכנית אימון למטופל<img src="../pics/add.png" width="10%" height="5%"/></button>
                            <br>

                            <button class="ProgramDetBtnPat" ng-click="patientsController.patientProg(patient.username)">תכניות שהקצתי למטופל<img src="../pics/exercise-with-dumbbells-symbol-hi.png" width="10%" height="5%"/></button>

                            <br>
                            <div class="panel panel-body" ng-show="patientsController.isEven(patient)&&patientsController.clickedDet">
                                <label>תכניות שהקצתי למטופל:</label>
                                <br>
                                <label ng-show="patientsController.notHaveProgs(patient.username)">אין</label>

                                <div ng-repeat="program in patientsController.programs">
                                    <div class="panel-body">
                                        <label>{{program.prog_title}}
                                        </label>
                                        <br>
                                        <button class="ProgramDetBtn" ng-click="patientsController.progDet(program.prog_id)">פרטי תכנית אימון</button>
                                        <br><br>
                                        <button class="ProgramDetBtn greenButton" ng-click="patientsController.addExeToProg(program.prog_id)">הוסף תרגיל</button>

                                        <button class="ProgramDetBtn redButton" ng-click="patientsController.deleteProg(program.prog_id)">מחק תכנית אימון</button>
                                        <br>
                                        <br>

                                        <div class="panel panel-default" ng-repeat="item in patientsController.exercises">

                                            <div class="panel-body" ng-show = "patientsController.isChosenProg(program.prog_id)" > <!--ng-show =exerciseController.chosenExe[item.exe_id]-->

                                                <!--<button class="ProgramDetBtn" ng-click="programsController.getExercises(item.prog_id)">פרטי תכנית</button>-->
                                                <div  align="center" class="panel-body" ui-set="{'myAccordion': item}">

                                                    <h4 class="panel-title">
                                                        {{item.title}}
                                                    </h4>
                                                    <br>
                                                    <button class="ProgramDetBtn" ng-click="patientsController.clickExeDet(item.exe_id)">פרטי תרגיל</button>
                                                </div>
                                                <button class="ProgramDetBtn orangeButton" ng-click="patientsController.editExe(item)">ערוך תרגיל</button>

                                                <button class="ProgramDetBtn redButton" ng-click="patientsController.deleteExe(item.exe_id)">מחק תרגיל</button>


                                                <div ng-show = "patientsController.chosenExe[item.exe_id] && patientsController.isBelongToProgram(item,program.prog_id)">

                                                    <br>
                                                    <label>מספר פעמים בשבוע: </label>
                                                    <span>{{item.time_in_week}}</span>
                                                    <br>
                                                    <label>מספר תרגולים ביום: </label>
                                                    <span>{{item.time_in_day}}</span>
                                                    <br>
                                                    <label>מספר סטים: </label>
                                                    <span>{{item.num_sets}}</span>
                                                    <br>
                                                    <div ng-hide="item.onTime">
                                                        <label>מספר חזרות: </label>
                                                        <span>{{item.num_repeats}}</span>
                                                        <br>
                                                    </div>
                                                    <div ng-show="item.onTime">
                                                        <label>משך סט: </label>
                                                        <span>{{item.set_duration}}</span>
                                                        <span>{{item.set_duration_units}}</span>
                                                        <br>
                                                    </div>
                                                    <label> זמן הפסקה בין סטים: </label>
                                                    <span>{{item.break_between_sets}}</span>
                                                    <span>{{item.break_between_sets_units}}</span>
                                                    <br>
                                                    <label> הוראות נוספות: </label>
                                                    <span>{{item.description}}</span>
                                                    <br>
                                                    <video class="videoClass" ng-show="patientsController.videosURL[item.exe_id]" src= {{patientsController.videosURL[item.exe_id]}} controls type="video/mp4">
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <button class="ProgramDetBtnPat" ng-click="patientsController.getMessages(patient.username)">הודעות<img src="../pics/0998-mail.png" width="10%" height="5%"/><label class="orangeLabel">{{patientsController.numUnRead[patient.username]}} חדשות</label></button>


                    <div class="panel-body" ng-show = "patientsController.isChosenMsgPat(patient.username)" > <!--ng-show =exerciseController.chosenExe[item.exe_id]-->
                        <label>הודעות:</label>
                        <div class="panel-group paddClass"
                             ui-shared-state="myAccordion"
                             ui-default='1'>
                            <label ng-show="patientsController.notHaveMessages(patient.username)">אין</label>
                            <div class="panel panel-default" ng-repeat="cor in patientsController.correspondences">
                                <div class="panel-heading" ui-set="{'myAccordion': patient}">
                                    <h4 class="panel-title">
                                        {{cor[0].title}}
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <button ng-click="patientsController.reply(cor[0])">השב</button>

                                    <button ng-click="patientsController.more(cor[0].correspondence_id)">הודעות קודמות</button>

                                </div>
                                <div class="panel-body">
                                    {{cor[0].date|date :  'dd.MM.yyyy H:mm':'+00' }}<br>
                                    <div class="panel-body">
                                        <label>מאת</label>
                                        {{cor[0].from_first_name}}
                                        {{cor[0].from_last_name}}
                                        <br>
                                        <label>אל</label>
                                        {{cor[0].to_first_name}}
                                        {{cor[0].to_last_name}}
                                    </div>
                                    <pre>{{cor[0].msg_content}}</pre>
                                </div>

                                <div class="form-group has-success has-feedback" align="center" ng-show="patientsController.rep[cor[0].correspondence_id]">

                                    <!-- <div class="panel panel-default" >-->
                                    <textarea name="desc" ng-model="patientsController.repMsg" cols="26" rows="5" ng-pattern="patientsController.regexService.getNotInjection()"></textarea>
                                    <br>
                                    <br>
                                    <button btn btn-warning ng-click="patientsController.sendRep(cor[0])">שלח</button>
                                    <!--</div>-->
                                </div>
                                <div class="panel-group paddClass" ng-show="patientsController.moreMsgInCor[cor[0].correspondence_id]"
                                     ui-shared-state="myAccordion2"
                                     ui-default='1'>
                                    <div class="panel panel-default" ng-repeat="msg in cor">
                                        <div ng-show = "patientsController.notFirst(msg,cor)">
                                            <div class="panel-body" ui-set="{'myAccordion2': patient}">
                                                {{msg.date | date :  'dd.MM.yyyy H:mm':'+00' }}<br>
                                            </div>
                                            <div class="panel-body">
                                                <label>מאת</label>
                                                {{msg.from_first_name}}
                                                {{msg.from_last_name}}
                                                <br>
                                                <label>אל</label>
                                                {{msg.to_first_name}}
                                                {{msg.to_last_name}}
                                            </div>
                                            <div class="panel-body">
                                                <pre>{{msg.msg_content}}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                        </div>
            </div>
    </div>
    </div>
</div>








