<div class="scrollable" ng-controller="RegisterController as registerController">
    <!--<div class="col-md-6 col-md-offset-3">-->
    <div class="scrollable-content paddClass" ng-show="registerController.isAdmin()">

    <form  name="form" ng-submit="registerController.register()" role="form">
        <div ng-show="registerController.isError" class="alert alert-danger">{{registerController.error}}</div>

        <div class="form-group">
        <label>רישום פיזיותרפיסט</label>
        <ui-switch
                ng-model="registerController.physioChecked"></ui-switch>
    </div>
        <div class="form-group">
            <label for="username">שם משתמש</label>
            <i class="fa fa-key"></i>
            <input type="text" name="username" id="username" class="form-control" ng-model="registerController.username" ng-pattern="registerController.regexService.getNotInjection()" required />
            <span ng-show="form.username.$error.required" class="help-block">שם משתמש נדרש</span>
            <span class="help-block" ng-show="form.username.$dirty && form.username.$invalid">שם משתמש לא חוקי

        </div>
        <div class="form-group">
            <label for="password">סיסמא</label>
            <i class="fa fa-lock"></i>
            <input type="password" name="password" id="password" class="form-control" ng-model="registerController.password" required />
            <span ng-show="form.password.$error.required" class="help-block">סיסמא נדרשת</span>
        </div>
        <div class="form-group">
            <label for="username">שם פרטי</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="registerController.firstName" ng-pattern="registerController.regexService.getNotInjection()" required />
            <span ng-show="form.firstName.$error.required" class="help-block">שם פרטי נדרש</span>
            <span class="help-block" ng-show="form.firstName.$dirty && form.firstName.$invalid">שם לא חוקי</span>
        </div>
        <div class="form-group">
            <label for="username">שם משפחה</label>
            <input type="text" name="lastName" id="lastName" class="form-control" ng-model="registerController.lastName" ng-pattern="registerController.regexService.getNotInjection()" required />
            <span ng-show="form.lastName.$error.required" class="help-block">שם משפחה נדרש</span>
            <span class="help-block" ng-show="form.lastName.$dirty && form.lastName.$invalid">שם לא חוקי</span>
        </div>
        <div class="form-group">
            <label for="username">מספר טלפון סלולארי</label>
            <input type="text" name="phone" id="phone" class="form-control" ng-model="registerController.phone" ng-pattern="registerController.regexService.getNotInjection()" required />
            <span ng-show="form.phone.$error.required" class="help-block">מספר סלולארי נדרש</span>
            <!--<span class="help-block" ng-show="form.phone.$dirty && form.phone.$invalid">מספר סלולארי לא חוקי</span>-->
                <span class="help-block" ng-show="form.phone.$dirty && form.phone.$invalid">מספר סלולארי לא חוקי</span>
</span>

        </div>
        <div class="form-group">
            <label for="username">דואר אלקטרוני</label>
            <input type="email" name="mail" id="mail" class="form-control" ng-model="registerController.mail" required />
            <span ng-show="form.mail.$error.required" class="help-block">דואר אלקטרוני נדרש</span>
            <span class="help-block" ng-show="form.mail.$dirty && form.mail.$invalid">כתובת מייל לא חוקית
            </span>
        </div>
       <!-- <div class="form-group">
            <input type="checkbox" ng-model="registerController.physioChecked" name="isPhysio" value="Physiotherapist"> רישום פיזיותרפיסט<br>
        </div>-->
        <div class="form-group" ng-hide="registerController.physioChecked">

           <!-- <input type="text" name="physio_name" id="physio_name" class="form-control" ng-model="registerController.physio_name"  />-->
            <br><label>גיל (1-120)</label>
            <input type="number"  min="1" max="120"
                   ng-model="registerController.age" name="age"
                   class="form-control">
            <span class="help-block" ng-show="form.age.$dirty && form.age.$invalid">נא הכנס גיל בטווח 1-120

            <br>
            </span>
            <label>אבחנה</label>
            <input type="text"
                   ng-model="registerController.diagnosis"
                   class="form-control"
                   ng-pattern="registerController.regexService.getNotInjection()"
                   placeholder="הכנס אבחנה">
            <div class="form-group has-success has-feedback"><labe>תמונה</labe>
                <input
                        type="file"
                        ngf-select
                        ng-model="registerController.file"
                        name="file"
                        ngf-max-size="10MB"
                        accept="image/*"
                />
                <i ng-show="registerController.upload_form.file.$error.maxSize">File too large max 10M</i>
                <i>{{registerController.progress}}</i><br>
                <label for="repeatSelect"> שם פיזיותרפיסט מטפל (עבור רישום מטופל) </label>

                <select name="repeatSelect" id="repeatSelect" ng-model="registerController.chosenTherapist">
                <option ng-repeat="physio in registerController.therapists" value="{{physio.username}}">{{physio.FirstName}} {{physio.LastName}}</option>
            </select>
            <!--<span ng-show="form.physio_name.$dirty && form.physio_name.$error.required" class="help-block"> נדרש</span>-->
        </div>


        </div>

        <div class="form-actions">
            <br>

            <button  class="btn btn-warning"  type="submit" ng-disabled="form.$invalid || registerController.dataLoading" class="btn btn-danger">סיים</button>
            <br>
            <img ng-if="registerController.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
    </div>
</div>

    <!--<div class="col-md-6 col-md-offset-3">
        <h2>Login</h2>
        <form name="form" ng-submit="loginController.login()" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="loginController.username" required />
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="loginController.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || loginControllerdataLoading" class="btn btn-primary">Login</button>
                <!--<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
         <!--   <a href="#!/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>-->
</div>