<div class="scrollable">
  <h1 class="scrollable-header app-name">PhysiotherApp <small>1.0</small></h1>
  <div ng-controller="mainController as mainCtrl">
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#/">בית <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-show ="mainCtrl.authService.loggedIn && !mainCtrl.authService.isPhysio&& !mainCtrl.authService.isAdmin" href="#/programs">תכניות האימון שלי <i class="fa fa-chevron-right pull-right"></i></a>
      <!--<a class="list-group-item" href="#/toggle">סביבת העבודה שלי <i class="fa fa-chevron-right pull-right"></i></a>-->
      <a class="list-group-item" ng-show ="mainCtrl.authService.loggedIn && mainCtrl.authService.isPhysio" href="#/patients">המטופלים שלי <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-show ="mainCtrl.authService.loggedIn && mainCtrl.authService.isPhysio" href="#/addToBank">הוספת סרטון לבנק <i class="fa fa-chevron-right pull-right"></i></a>

      <a class="list-group-item" ng-hide ="mainCtrl.authService.loggedIn" href="#/login">התחבר <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" ng-show ="mainCtrl.authService.loggedIn" href="#/login" ng-click="mainCtrl.logout()">התנתק <i class="fa fa-chevron-right pull-right"> </i> </a>
      <a class="list-group-item" ng-show ="mainCtrl.authService.isAdmin" href="#/register">רישום משתמש חדש <i class="fa fa-chevron-right pull-right"></i></a>

    </div>
  </div>
</div>
</div>
